// Scrollbar
::-webkit-scrollbar-track
{
  background-color: transparent;
}

::-webkit-scrollbar
{
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  background-color: #ffffff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: fixed;

  .container {
    .user-list {
      position: relative;
      height: 15vh;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-around;

      p{
        margin: 0;
      }
    }

    .message-list {
      display: flex;
      height: 65vh;
      overflow-x: auto;
      max-width: 100vw;
    }

    .message-form{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;

      .content {
        .infos {
          display: flex;
          justify-content: space-between;

          .time, .typing {
            margin-top: 0;
            display: inline-block;
          }

          .typing {
            margin-right: 60px;
          }
        }

        input, button {
          color: $principal;
          border: 1px solid $principal;
          background-color: transparent;
          padding: 10px;
          font-size: 1em;
        }

        input {
          box-sizing: border-box;
          margin-right: 20px;
          width: 70vw;
        }

        button {
          width: 40px;
        }
      }
    }
  }
}
