// Imports
//@import "~jeet";
//@import "~rupture";

@import "theme/variables";
@import "theme/mixins";

body{
  margin: 0;
  background: black url("assets/img/views/background.jpg") no-repeat fixed center center;
  background-size: cover;
}
